* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  padding: 20px;
}

.grey {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}

.App {
  /*max-width: 60em;
  margin: 0 auto;
  padding: 4rem 2rem;*/
}

/*nav*/

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.nav-logo {
  max-width: 100px;
}

/*hero*/

.hero-container {
  max-width: 60em;
  margin: 0 auto;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
}

.hero-img {
  text-align: center;
  margin-bottom: 2rem;

}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: left;
}

.hero-heading {
  font-weight: 600;
  font-size: 36px;
  line-height: 39.6px;
  color: #000000;
  font-style: normal;
}

.hero-text {
  color: #222222;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.6;
  max-width: 40%;
}

/*card*/

.card {
  width: 175px;
  font-size: 12px;
  max-width: 60em;
  margin: 0 auto;
  padding: 4rem 2rem;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-stats {
  display: flex;
  align-items: center;
  gap: .5em;
}

.card-star {
  height: 14px;
}